In [8]:
import pandas as pd
import json

In [18]:
with open('azoom-member.json') as f:
  data = json.load(f)
extracted_data = [{'id': item['user']['id'], 'email': item['user']['email']} for item in data['members']]
df = pd.DataFrame(extracted_data)
df

           id                        email
0    72610965          yui.uraoka@azoom.jp
1    56673920         pho.duc.dat@azoom.jp
2    72610731        joseph.hagan@azoom.jp
3    72610730      hikota.kouzaki@azoom.jp
4    56649197  nguyen.thi.kim.anh@azoom.jp
..        ...                          ...
138   1038124            kawayama@azoom.jp
139   1038098           h.suginoo@azoom.jp
140   1038083           m.koukami@azoom.jp
141   1037982             k.gotou@azoom.jp
142   1037809             y.ishii@azoom.jp

[143 rows x 2 columns]

In [19]:
df.to_csv('azoom-member.csv', index=False)